RewriteEngine On

# Prevent directory listing
Options -Indexes

# Route requests to Laravel's index.php in the root directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

