DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 1. استثناء الملفات والمجلدات الحقيقية
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 2. توجيه مسارات لورافيل (الأدمن، الـ API، الـ Livewire، والـ Lang) إلى index.php
    RewriteRule ^/?(admin|api|livewire|filament|lang) index.php [L]

    # 3. توجيه أي مسارات أخرى إلى تطبيق الريأكت index.html
    RewriteRule ^ index.html [L]
</IfModule>